body {
    min-width: 600px;
    padding: 20px;
}

#final {
    display: none;
    height: 500px;
    text-align: center;
}

#final img {
    display: block;
    height: 400px;
    margin: 0 auto;
}

#template {
    display: none;
}

.raid {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.raid .icon {
    cursor: pointer;
    height: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 50px;
}

.raid .title {
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    margin-left: 50px;
    /*transition: background-color 1s ease;*/
    /*-webkit-transition: background-color 1s ease;*/
}

.raid .status {
    line-height: 30px;
    margin-right: 10px;
}

.raid .time_remaining {
    line-height: 30px;
}
