#template {
    display: none;
}

.raid {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.raid .icon {
    cursor: pointer;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 50px;
}

.raid .title {
    background-color: #FFF;
    font-size: 30px;
    cursor: pointer;
    line-height: 50px;
    padding-left: 60px;
    padding-right: 60px;
    /*transition: background-color 1s ease;*/
    /*-webkit-transition: background-color 1s ease;*/
}

.raid .caret {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px;
}

.raid .caret i {
    line-height: 50px;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.raid.show .caret i {
    transform: rotate(180deg);
}